.Homecontainer{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('../assets/img/LandingImage.png');
  /* animation: slidein 2s infinite alternate;
  background-position: center;
  position: relative; */
  background-size:cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:0px; }
to {background-position: 0px 0px;background-size:100px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.enter{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


@media (max-width: 768px) {
  .Homecontainer {
    animation: none; /* Remove animation on smaller screens */
    background-size: cover; /* Ensure the background covers the entire container */
  }
}

@media (max-width: 480px) {
  .Homecontainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
      url('../assets/img/LandingImage.png'); /* Change the background image for smaller screens */
  }
}
/* @keyframes slidein {
  from {
    background-position: top;
  }
  to {
    background-position: 0px 0;
  }
} */